.filterRow {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.filterRow .filterBtn {
  display: flex;
}

.genreRow {
  padding-top: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.genreRow span {
  display: flex;
  flex-grow: 1;
  text-transform: uppercase;
}

.genreRow span:first-child {
  font-weight: bold;
}
.genreRow span:last-child {
  flex-grow: 6;
}

.card .card-content {
  width: 100%;
}

.card-image {
  width: 35% !important;
  height: 190px !important;
}

.card-image img{
object-fit: cover;
height: 100%;
}

.snipCard {
  max-height: 190px;
}

.storyLink {
  text-align: end;
  padding-top: 5px;
}

.storyImg {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}