@media only screen and (min-width: 0){
  .brand-logo img{
    height: 50px;
    width: 50px;
    margin-top: 3px;
  }
  }
  @media only screen and (min-width: 600px){
    .brand-logo img{
      height: 50px;
      width: 50px;
      margin-top: 7px;
    }
  }
  @media only screen and (min-width: 1200px){
    .brand-logo img{
      height: 50px;
      width: 50px;
      margin-top: 7px;
    }
  }


/* CSS FOR GENRE SECTIONS IN MAIN AND INDIVIDUAL NEWS PAGES */
.filterRow {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.filterRow .filterBtn {
  display: flex;
}

.genreRow {
  padding-top: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.genreRow span {
  display: flex;
  flex-grow: 1;
  text-transform: uppercase;
}

.genreRow span:first-child {
  font-weight: bold;
}
.genreRow span:last-child {
  flex-grow: 6;
}

/* CSS FOR NEWS SNIPPET CARDS */
.card .card-content {
  width: 100%;
}

.card-image {
  width: 35% !important;
  height: 190px !important;
}

.card-image img{
object-fit: cover;
height: 100%;
}

.snipCard {
  max-height: 190px;
}

.storyLink {
  text-align: end;
  padding-top: 5px;
}

/* CSS FOR NEWS PAGE */
.storyImg {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

@media only screen and (min-width: 0){
.storyFont {
    font-size: 15px !important;
}}
@media only screen and (min-width: 992px){
.storyFont {
    font-size: 16px !important;
}}
@media only screen and (min-width: 1200px){
.storyFont {
    font-size: 17px !important;
}}

/* CSS FOR ABOUT PAGE */
.contact {
  overflow: hidden;
  position: relative;
}

.contact img {
  height: 300px;
  width: 300px;
  position: absolute;
  top: -100px;
  left: 300px;
  opacity: .5;
  transform: rotate(350deg);
}

.contact .collection {
  border: none !important;
}

.redLink {
  color: red
}
